# **11 Mengenal TF-IDF (Term Frequency - Inverse Document Frequency)**

TF-IDF (Term Frequency - Inverse Document Frequency) merupakan salah satu metode statistik yang digunakan untuk mengukur seberapa penting suatu kata terhadap suatu dokumen tertentu dari sekumpulan dokumen atau corpus. <br>

Source : Indonesia Belajar <br>

Referensi:
- https://en.wikipedia.org/wiki/Tf%E2%80%93idf
- https://scikit-learn.org/stable/modules/feature_extraction.html#text-feature-extraction

**Dataset**

In [4]:
corpus = [
    'the house had a tiny little mouse', 
    'the cat saw the mouse',
    'the mouse ran away from the house', 
    'the cat finally ate the mouse',
    'the end of the mouse story'
]

corpus

['the house had a tiny little mouse',
 'the cat saw the mouse',
 'the mouse ran away from the house',
 'the cat finally ate the mouse',
 'the end of the mouse story']

**TF-IDF Weights dengan <code>TfidfVectorizer<code>**

In [7]:
# Import TfidfVectorizer dari pustaka scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

# Inisialisasi TfidfVectorizer dengan mengatur stop words ke 'english'
vectorizer = TfidfVectorizer(stop_words='english')

# Menerapkan fit_transform pada corpus untuk tokenisasi dan menghitung TF-IDF
response = vectorizer.fit_transform(corpus)

# Menampilkan hasil transformasi TF-IDF
print(response)

  (0, 5)	0.47557510189256375
  (0, 11)	0.5894630806320427
  (0, 6)	0.5894630806320427
  (0, 7)	0.2808823162882302
  (1, 7)	0.3477147117091919
  (1, 2)	0.5887321837696324
  (1, 9)	0.7297183669435993
  (2, 5)	0.47557510189256375
  (2, 7)	0.2808823162882302
  (2, 8)	0.5894630806320427
  (2, 1)	0.5894630806320427
  (3, 7)	0.2808823162882302
  (3, 2)	0.47557510189256375
  (3, 4)	0.5894630806320427
  (3, 0)	0.5894630806320427
  (4, 7)	0.3193023297639811
  (4, 3)	0.6700917930430479
  (4, 10)	0.6700917930430479

In [9]:
# Mendapatkan daftar fitur (kata-kata unik) yang dihasilkan dari proses tokenisasi
vectorizer.get_feature_names_out()

array(['ate', 'away', 'cat', 'end', 'finally', 'house', 'little', 'mouse',
       'ran', 'saw', 'story', 'tiny'], dtype=object)

In [11]:
response.todense()

matrix([[0.        , 0.        , 0.        , 0.        , 0.        ,
         0.4755751 , 0.58946308, 0.28088232, 0.        , 0.        ,
         0.        , 0.58946308],
        [0.        , 0.        , 0.58873218, 0.        , 0.        ,
         0.        , 0.        , 0.34771471, 0.        , 0.72971837,
         0.        , 0.        ],
        [0.        , 0.58946308, 0.        , 0.        , 0.        ,
         0.4755751 , 0.        , 0.28088232, 0.58946308, 0.        ,
         0.        , 0.        ],
        [0.58946308, 0.        , 0.4755751 , 0.        , 0.58946308,
         0.        , 0.        , 0.28088232, 0.        , 0.        ,
         0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.67009179, 0.        ,
         0.        , 0.        , 0.31930233, 0.        , 0.        ,
         0.67009179, 0.        ]])

In [13]:
# Import pandas sebagai pd untuk manipulasi data
import pandas as pd

# Membuat DataFrame dari hasil transformasi TF-IDF
# Menggunakan matriks padat yang dihasilkan dari response
# Indeks DataFrame adalah kata-kata unik dari fitur
# Kolom DataFrame diberi nama 'D' diikuti nomor urut dokumen
df = pd.DataFrame(response.todense().T,
                  index=vectorizer.get_feature_names_out(),
                  columns=[f'D{i+1}' for i in range(len(corpus))])

df

               D1        D2        D3        D4        D5
ate      0.000000  0.000000  0.000000  0.589463  0.000000
away     0.000000  0.000000  0.589463  0.000000  0.000000
cat      0.000000  0.588732  0.000000  0.475575  0.000000
end      0.000000  0.000000  0.000000  0.000000  0.670092
finally  0.000000  0.000000  0.000000  0.589463  0.000000
house    0.475575  0.000000  0.475575  0.000000  0.000000
little   0.589463  0.000000  0.000000  0.000000  0.000000
mouse    0.280882  0.347715  0.280882  0.280882  0.319302
ran      0.000000  0.000000  0.589463  0.000000  0.000000
saw      0.000000  0.729718  0.000000  0.000000  0.000000
story    0.000000  0.000000  0.000000  0.000000  0.670092
tiny     0.589463  0.000000  0.000000  0.000000  0.000000